@font-face {
    font-family: "Noto Color Emoji";
    src: url("/fonts/NotoColorEmoji-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Iosevka";
    src: url("/fonts/iosevka-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif, "Noto Color Emoji";
    overflow: hidden;
    --title-font: "Fira Sans", "Noto Color Emoji", sans-serif;
    --code-font: "Iosevka", monospace;
}

svg {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: bold;
}

button {
    padding: 0.4em 0.8em;
    border-radius: 0.2em;
    border: none;
    background: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 60%;
    position: relative;
    top: -0.3em;
    margin: 0 0.5em;
    display: inline-block;
    font-family: var(--title-font);
    transition: transform 0.1s ease-in-out;
}
