@font-face {
    font-family: "Iosevka";
    src: url("/fonts/iosevka-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
}
